
h3 > li > a {
    font-size: large;
    color: darkblue !important;
    text-decoration: none;
}

body{
    /* background-color: #f3f3f3; */
}

li {
    list-style: none;
}

h2 {
    font-size: 30px;
    color: #007e45;
}