h2{
    font-size: 30px;
    font-weight: bold;
}

ol {
    list-style-type: none;
}

ol > li {
    position: relative;
    margin: 0;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
    font-size: 22px;
    padding-bottom: 2.5rem;
}

ol > li:before{
    content: '>';
    color: red;
    background-color: red;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0.25rem;
    width: 0.2rem;
}

ol > li:after{
    position: absolute;
    left: 0;
    height: 10rem;
    width: 10rem;
}

ol > li > a{
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-size: 22px;
}

ol > li > a:hover{
    text-decoration: underline;
}

.warning{
    color: darkred !important;
    font-size: 18px;
    text-decoration: underline;
    padding: 0.5rem;
}

.green{
    color: #007e45;
}